# ==========================================
# EL CAINAL 🤪💯 - SEGURIDAD DE BARRIO
# ==========================================

# No queremos que nos bajen las llaves (Secretos)
.env
*.env
token.json
credentials.json

# Basura de Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
build/
dist/

# Basura de Sistema (Móvil/Desktop)
.DS_Store
Thumbs.db
.ipynb_checkpoints/

# Logs de guerra
*.log
